In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import OneHotEncoder 
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv('insurance.csv')
df.sample(5)

      age     sex    bmi  children smoker     region     charges
910    22    male  28.31         1     no  northwest   2639.0429
876    49  female  27.10         1     no  southwest  26140.3603
261    20  female  26.84         1    yes  southeast  17085.2676
1330   57  female  25.74         2     no  southeast  12629.1656
53     36    male  34.43         0    yes  southeast  37742.5757

In [4]:
df.shape

(1338, 7)

In [5]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
df['sex'].unique()

array(['female', 'male'], dtype=object)

In [7]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1:]

In [9]:
X_train , X_test , y_train , y_test = train_test_split(X,y, test_size= 0.2,random_state=42)

In [10]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1070, 6)
(268, 6)
(1070, 1)
(268, 1)

In [14]:
ohe = OneHotEncoder(drop = 'first', dtype=np.int32, handle_unknown= 'ignore' )

In [24]:
cat_cols = ['sex','smoker','region']
num_cols = ['age','bmi','children']

# Transfermatrion categorical features
X_train_cat = ohe.fit_transform(X_train[cat_cols])
X_test_cat = ohe.transform(X_test[cat_cols])

# Scaling (MinMax Scaler) numerical features
X_train_num_scaled = MinMaxScaler(  X_train[num_cols] )
X_test_num_scaled = MinMaxScaler( X_test[num_cols] )

In [34]:
# joining categorical and numerical features after transformation and Scalling
X_train_processed = np.hstack((X_train_num_scaled, X_train_cat))
X_test_processed = np.hstack((X_test_num_scaled, X_test_cat))

# converting to dataframe
pd.DataFrame(X_train_processed,columns=list(cat_cols)+list(num_cols))

ValueError: Shape of passed values is (2, 1), indices imply (2, 6)