In [6]:
import numpy as np
import pandas as pd

## Generate a simulated dataset for regression application using NumPy, with the following properties.

### a. Number of samples = 100
### b. Number of features = 4
### c. Number of targets = 1
### d. Zero noise

In [38]:
np.random.seed(42)
X = np.random.rand(100,4)

In [44]:
df = pd.DataFrame(X)    
df.head()

          0         1         2         3
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405
4  0.304242  0.524756  0.431945  0.291229