In [50]:
import pandas as pd
import numpy as np
import random as r

## Perform the following tasks with pandas Series:

### a) Create a Series from the list [7, 11, 13, 17].

In [37]:
list = [7,11,13,17]
pd.Series(list)

0     7
1    11
2    13
3    17
dtype: int64

### b) Create a Series with five elements that are all 100.0.

In [40]:
li = []
for i in range(5):
    li.append(100.0)
pd.Series(li)

0    100.0
1    100.0
2    100.0
3    100.0
4    100.0
dtype: float64

### c) Create a Series with 20 elements that are all random numbers in the range 0 to Use method describe to produce the Seriesâ€™ basic descriptive statistics.

In [64]:
l = [r.random() for i in range(20)]
pd.Series(l).describe()

count    20.000000
mean      0.460638
std       0.311662
min       0.051853
25%       0.195773
50%       0.440406
75%       0.694157
max       0.975558
dtype: float64

### d) Create a Series called temperatures of the floating-point values 98.6, 98.9, 100.2 and 97.9. Using the index keyword argument, specify the custom indices 'Julie', 'Charlie', 'Sam' and 'Andrea'.

In [79]:
rows = [98.6,98.9,100.2,97.9]
idx = ['Julie','Charlie','Sam','Andrea']
temperature = pd.Series(rows,index=idx)

### e) Form a dictionary from the names and values in Part (d), then use it to initialize a Series.

In [84]:
dict = {
    'Names': 'Temerature',
    'Julie': 98.6,
    'Charlie': 98.9,
    'Sam': 100.2,
    'Andrea': 97.9
}

temp = pd.Series(dict)
temp

Names      Temerature
Julie            98.6
Charlie          98.9
Sam             100.2
Andrea           97.9
dtype: object